<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.em_projects.omdan">

    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Internet Access Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Contact List Access Permissions -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Storage Access Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Wake Up Permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Camera Permissions-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- Progress Dialog Permission -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Intro -->
        <activity
            android:name=".intro.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Main Screen -->
        <activity
            android:name=".main.MainScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>

        <!-- Image Gallery with Camera -->
        <activity
            android:name=".gallery.ImageGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".gallery.ApiCameraActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- Images uploading Service (Network) -->
        <service
            android:name=".network.ImagesUpLoaderService"
            android:exported="true" />

    </application>

</manifest>